@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .inactive {
        background-color: rgb(203 213 225);
        color: rgb(148 163 184);
    }
}

@font-face {
    font-family: 'RobotoMono';
    src: url('../public/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
